.contact-container {
    display: flex;
    position: sticky;
    top: 6rem;
    margin: 1rem 0;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}


.contact {
    font-size: 4.5rem;
    letter-spacing: .15rem;
    font-weight: bold;
    transition: 0.2s ease-out;

}

.contact:hover {
    /* color: rgb(0, 0, 201, 0.3); */
    /* font-style: italic;
    transform:rotateX(30deg) translateX(4px); */
    transform: rotateX(30deg) translateX(.7rem);


}

.contact::after {
    content: ' →'; 
  }

.email {
    font-size: 4.5rem;
    letter-spacing: .15rem;
    font-weight: bold;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.email:hover {
    /* color: rgb(0, 0, 201, 0.3); */
    /* font-style: italic; */
    transform: rotateX(30deg) translateX(.5rem);

}

.email::after {
    content: ' →'; 
  }


@media screen and (max-width: 767px) {
    .contact-container {
      position: relative;
      align-items: center;
      top: 0;
      /* width: 100%; */
    }

    .contact {
        font-size: 3.5rem;
    }

    .email {
        font-size: 3.5rem;
    }
  }

