.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.title {
  text-align: left;
  padding: 1rem 0;
  transform: translateX(-2rem);
  transition: all 1s ease-out;
}

.title.animate {
  transform: translateX(0);
}

.intro-small {
  color: #333;
  font-weight: lighter;
  text-align: end;
  width: 65rem;
  transform: translateX(2rem); 
  transition: opacity 0.5s ease, transform 1s ease-out;
}

.intro-small.animate {
    transform: translateX(0);
}
